.introArea {
	
}

.loggedInUserArea {
	display: none;
}

.gamePlayArea {
	display: none;
}

.highScoreArea {
	display: none;
}

.waitingForOpponentArea {
	display: none;
}

.makeAMoveArea {
	display: none;
}

.waitingForOpponentMoveArea {
	display: none;
}

.resultArea {
	display: none;
}