.introArea {
}

.loggedInUserArea {
	display: none;
}

.gamePlayArea {
	display: none;
}

.highScoreArea {
	display: none;
}

.waitingForOpponentArea {
	display: none;
}

.opponentDetailsArea {
	display: none;
}

.makeAMoveArea {
	display: none;
}

.waitingForOpponentMoveArea {
	display: none;
}

.resultArea {
	display: none;
}

.profilePic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.smallProfilePic {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}